
<div [hidden]="!isLoadingData">
  <h4>Loading Data</h4>
</div>

<div *ngIf="!isLoadingData && apiResponse">
  <a href="#" (click)="displayData(0)">Clear Markers</a> |
  <a href="#" (click)="displayData(100)">Show 100</a> |
  <a href="#" (click)="displayData(200)">Show 200</a> |
  <a href="#" (click)="displayData(500)">Show 500</a> |
  <a href="#" (click)="displayData(apiResponse.markers.length)">Show All!</a>
</div>

<agm-map 
  [latitude]='latitude' 
  [longitude]='longitude' 
  [zoom]="12"
  [mapTypeId]='mapType'>

  
  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    (markerClick)="selectMarker($event)">

    <agm-info-window
      [isOpen]="false"
      [maxWidth]="150" #infoWindow>
      <strong>{{marker.name}}</strong>
    </agm-info-window>

  </agm-marker>


  <agm-circle
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [radius]="200"
    [strokeColor]="'#000'"
    [fillColor]="getFillColor(marker)"
  ></agm-circle>   

</agm-map>
